PORT=3000
CLOUDPE_ACCESS_KEY=your_access_key_here
CLOUDPE_SECRET_KEY=your_secret_key_here
CLOUDPE_ENDPOINT=https://your-cloudpe-s3-endpoint
CLOUDPE_BUCKET=blog-pothysinfo
ADMIN_USERNAME=admin
ADMIN_PASSWORD=Admin@2026
